{% extends 'base.html.twig' %}


{% block title %}Liste des champions{% endblock %}






{% block body %}

    <div id="AffichageIconsChamps">
    {% for img in nameChamp %}
        <img src="{{ img }}" alt="Image" class="iconChamp">
    {% endfor %}
    </div>
{% endblock %}
